[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdParty/termcolor"]
	path = 3rdParty/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "3rdParty/spinnerspp"]
	path = 3rdParty/spinnerspp
	url = https://github.com/jkuri/spinners
[submodule "3rdParty/QAdwaitaDeco"]
	path = 3rdParty/QAdwaitaDeco
	url = https://github.com/FedoraQt/QAdwaitaDecorations.git
[submodule "3rdParty/qthttpclient"]
	path = 3rdParty/qthttpclient
	url = https://github.com/abiiranathan/httpclient.git
[submodule "3rdParty/spinnersplusplus"]
	path = 3rdParty/spinnersplusplus
	url = https://github.com/jmslocum/spinners-plus-plus.git
[submodule "3rdParty/libsass"]
	path = 3rdParty/libsass
	url = https://github.com/sass/libsass.git
[submodule "3rdParty/discord-rpc-classic"]
	path = 3rdParty/discord-rpc-classic
	url = https://github.com/discord/discord-rpc.git
[submodule "3rdParty/qwindowkit"]
	path = 3rdParty/qwindowkit
	url = https://github.com/stdware/qwindowkit.git
[submodule "3rdParty/saribbon"]
	path = 3rdParty/saribbon
	url = git@github.com:cybik/SARibbon.git
[submodule "3rdParty/googletest"]
	path = 3rdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdParty/steamworks"]
	path = 3rdParty/steamworks
	url = https://github.com/rlabrecque/SteamworksSDK.git
