[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdParty/termcolor"]
	path = 3rdParty/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "3rdParty/spinnerspp"]
	path = 3rdParty/spinnerspp
	url = https://github.com/jkuri/spinners
[submodule "3rdParty/QAdwaitaDeco"]
	path = 3rdParty/QAdwaitaDeco
	url = https://github.com/FedoraQt/QAdwaitaDecorations.git
[submodule "3rdParty/qthttpclient"]
	path = 3rdParty/qthttpclient
	url = https://github.com/abiiranathan/httpclient.git
[submodule "3rdParty/spinnersplusplus"]
	path = 3rdParty/spinnersplusplus
	url = https://github.com/jmslocum/spinners-plus-plus.git
