[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdParty/xdg"]
	path = 3rdParty/xdg
	url = git@github.com:azubieta/xdg-utils-cxx.git
[submodule "3rdParty/termcolor"]
	path = 3rdParty/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "3rdParty/spinnerspp"]
	path = 3rdParty/spinnerspp
	url = https://github.com/jkuri/spinners
